.App {
  width: 100vw;
  min-height: 100vh;
  background-image: url("../rick-and-morty-background-body.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
}
